/* Polices */

/* Titre */
@font-face {
    font-family: 'Lobster';
    src: url('../font/Lobster-Regula.ttf'),
    	 url('../font/Lobster.otf');
}

/* Background */
body {
	margin: 0px 0px 0px 0px;
	
	background : url("../img/bg_accueil.jpg") no-repeat;
	background-size : cover;
}

header {
	margin: 0px 0px 0px 0px;
}

.menu {
	background-color: #27331B;
	text-align: center;
	color : white;
}

/* En-tête menu */
.headMenu {
	display: flex;
	justify-content: center;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.headMenu h1 {
	font-family: "Lobster", serif;
	font-size: 2em;
	color: white;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
}

.headMenu h1:hover {
	color: yellow;
}

.containerMenu {
	display: flex;
	justify-content: center;
}

.onglet a {
	transition: background-color 0.4s ease;
	transition: color 0.4s ease;
	color: white;
	text-decoration: none;
	font-size: 2em;
	padding: 6px 6px 6px 6px;
}


.onglet a:hover, .sousMenu:hover {
	color: #FFCB60;
	background-color: rgb(60, 80, 56);
}

.onglet {
	margin: 6px 6px 6px 6px;
}

.sousMenu {
	display: none;
	position: absolute;
	background-color: rgb(31, 51, 27);
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 0;
	padding-top: 10px;
}

.sousMenu li {
	color: white;
	padding: 6px 6px 6px 6px;
	font-size: 1em;
}

.onglet:hover .sousMenu {
	display: block;
}
