html{
  font-family: Arial, Helvetica, sans-serif;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	background-color:white;
	color: black;
	text-align: justify;
	min-width: 450px;
}

h1{
	text-align:center;
	color:#ffcc00;
}

h2{
	color:#009933;
	font-size : 22px;
	margin: 0% 5% 0% 5%;
}

p{
	font-size:21px;
}

#page {
	margin: 0% 25% 0% 25%;
}

@media all and (max-width : 700px)
{
	#page{
		margin: 0px 5px 0px 5px;
	}
}