body {
	background : url("../img/bg_accueil.jpg") no-repeat;
	background-size : cover;
	background-position: center center;
	background-attachment: fixed;
}

.panel {
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 20vh;
	margin-left: 5vh;
	margin-right: 5vh;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.panel h2 {
	font-size: 2em;
	color: white;
	text-align: center;
}

.panel p {
	font-size: 2em;
	text-align: left;
}

/* MEDIA QUERY MD */
@media all and (min-width: 1024px) {
	.panel {
		margin-top: 20vh;
		margin-left: 10vh;
		margin-right: 10vh;
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
}

/* MEDIA QUERY SM */
@media all and (min-width: 512px) and (max-width: 1023px) {
	.panel {
		margin-top: 5vh;
		margin-right: 2vh;
		margin-left: 2vh;
		padding-top: 1vh;
		padding-bottom: 1vh;
	}
}

/* MEDIA QUERY XS */
@media all and (max-width: 511px) {
	.panel {
		margin-top: 2vh;
		margin-right: 0vh;
		margin-left: 0vh;
		padding-top: 1vh;
		padding-bottom: 1vh;
	}
}