img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.scroll{
	animation-name: scroll;
	animation-duration: 1s;
}

@keyframes scroll{
  from {opacity: .4} 
  to {opacity: 1}
}

.blocDiapo{
	max-width:700px;
	height:auto;
	position:relative;
	margin:auto;
	border:5px solid #009933;
	margin-bottom:15px;
}

.diapo{
	margin:0;
	padding:0;
}

.txtDiapoKR{
	color:#f2f2f2;
	font-size:20px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
	position:absolute;
	bottom:0;
	background: rgba(112,112,112,0.3);
}

.point{
	height:15px;
	width:15px;
	margin:0 2px;
	background-color:#bbbbbb;
	border-radius:50%;
	display:inline-block;
	transition: background-color 0.6s ease,;
}

.actif{
	height:10px;
	width:10px;
	background-color:white;
	border:3px solid black;
}

.Arrows{
	display: flex;
	justify-content: space-between;
	height: 30px;
	top:50%;
	position: absolute;
	width: 100%;
}

.Arrows i{
	/*background-color: rgba(255, 255, 255, .50);*/
	color: #1C1D21;
	height: 30px;
	padding-top: 10px;
	padding-bottom : 20px;
	border-radius: 50px;

	transition: background-color .5s, color .5s;
}

.Arrows i:first-of-type{ 
	padding-right: 10px;
	cursor: pointer;
}

.Arrows i:last-of-type{ 
	padding-left: 10px;
	cursor: pointer;
}

.Arrows i:hover{
	background-color: rgba(28,29,33, 1);
	color: #EEEFF7;
}
