
#piment{
	float: right;
	display: flex;
}

#bouillon{
	float: right;
	display: flex;
	margin-bottom: 50px;
}

.sideTextImg p {
	padding-right: 1vw;
	padding-top: 6vh;
}

.sideImgText p {
	padding-left: 1vw;
	padding-top: 10vh;
}

@media all and (max-width : 1500px)
{
	#piment{
		display: inline;
		margin-bottom: 2vh;
	}
	
	#bouillon{
		display: inline;
		margin-bottom: 2vh;
	}

	.sideTextImg p {
	padding-right: 1vw;
	padding-top: 1vh;
	}

	.sideImgText p {
	padding-left: 1vw;
	padding-top: 1vh;
	}
}