

#entete p{
	font-size:17px;
	text-align:center;
}

button{
	background-color: #006400;
    	border: none;
   	color: white;
   	padding: 10px 10px;
  	text-align: center;
  	text-decoration: none;
  	font-size: 18px;
  	margin: 4px 2px;
  	cursor: pointer;
  	font-style:italic;
    	border-radius:10px;
	position:absolute;
	right:25%;
}
